html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.alert {
    width: 100%;
    text-align: center;
    pointer-events: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #ef4444;
    font-size: 12px;
    padding: .25rem 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Nav */
header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: #333;
}

nav .nav-right-section .menu-icon {
    background-image: url('/image/menu-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img {
    border-radius: 50px;
    margin-left: 16px;
    width: 32px;
    height: 32px;
}

/* Main */
main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .main-logo {
    width: 272px;
    margin: 0 auto 35px auto;
}

main .main-input {
    width: 530px;
    margin-bottom: 35px;
}

main .main-input-container {
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
}

main .main-input input {
    flex: 1 1 auto;
    height: 34px;
    border: none;
    outline: none;
    background-color: transparent;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url('/image/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}

main .main-input .mic-icon {
    background-image: url('/image/google-mic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}